body {
  margin: 0;
  background-color: rgb(190, 182, 182);
  display: flex;
}

.slider {
  background-color: white;
  width: 20%;
  margin: 2%;
  height: 100vh;
  border-radius: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider a {
  display: block;
  margin: 4%;
  font-size: large;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.container {
  width: 75%;
  height: 92vh;
  margin: 2%;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  margin-left: -1%;
  border: none;
}
